{% extends 'base.html' %}

{% block title %}Add Event{% endblock %}

{% block content %}
{% if user.is_anonymous == False %}
<div class="container">
	<div class="row">
		<div class="col-6 offset-3">
			<h1 class="text-center my-3">Add an Event</h1>
			{% if error == True %}
				<p class="text-danger">Duplicate event found!</p>
			{% endif %}

			<form action="{% url 'todolist:add_event' %}" method="post">
				{% csrf_token %}

				<div class="mb-3">
					  <label for="event_name" class="form-label">Event Name:</label>
					  <input type="text" class="form-control" id="event_name" value="{{event_name}}" name="event_name" maxlength="50" required>
				</div>

				<div class="mb-3">
					  <label for="description" class="form-label">Description:</label>
					  <textarea class="form-control" id="description" value="{{description}}" name="description" required></textarea>
				</div>

				<div class="mb-3">
					  <input class="btn btn-success" type="submit" value="Add Event">
				</div>
		</div>
	</div>
</div>

		{% else %}
			<h1 class="tex-center my-3">You are not authorized to access this page.</h1>
			<p class="">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>

		{% endif %}

{% endblock %}