{% extends 'base.html' %}

{% block tittle %}Login{% endblock %}

{% block content%}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center my-3">Login</h1>
            {% if error == True %}

                <p>Invalid user credentials. Please check your username and password</p>

            {% endif%}
            <form action="{% url 'todolist:login' %}" method="post">

                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{username}}" maxlength="20" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" value="{{password}}" maxlength="20" required>
                </div>
                <div>
                    <input class="btn btn-success" type="submit" value="Login">
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}